{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container products-header">
        <div class="row">
            <div class="col">
                <h3 class="text-white mt-3">Shopping Cart</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 {% if cart_items %}
                    <div class="table-responsive">
                        <table class="table text-white table-sm table-borderless">
                            <thead class="thead-light">
                                <tr>
                                    <th class="py-2" scope="col">Product Name</th>
                                    <th class="py-2" scope="col">Price</th>
                                    <th class="py-2" scope="col">Quantity</th>
                                    <th class="py-2" scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="py-2">
                                        <p><strong>{{ item.product.name }}</strong></p>
                                    </td>
                                    <td class="py-2">
                                        <p>€{{ item.product.price }}</p>
                                    </td>
                                    <td class="pt-2 w-25">
                                        <form class="form update-qty-form" method="POST" action="">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-12">
                                                    <div class="form-group w-50">
                                                        <div class="input-group">
                                                            <input class="form-control form-comtrol-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="20" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                        </div>
                                                    </div>
                                                </div>
                                             </div>
                                        </form>
                                        <a class="update-link mr-2"><small>Update</small></a>
                                        <a class="delete-link ml-2 text-danger" id="remove_{{ item.item_id }}"><small>Remove item</small></a>
                                    </td>
                                    <td class="py-2">
                                        <p>€{{ item.product.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h5>Cart Total: €{{ total|floatformat:2 }}</h5>
                                    <h5>Delivery: €{{ delivery|floatformat:2 }}</h5>
                                    <h4 class="mt-3"><strong>Grand Total:</strong> €{{ grand_total|floatformat:2 }}</h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-lg">
                                        <span class="icon">
                                            <i class="fa fa-arrow-circle-left text-white"></i>
                                        </span>
                                        <span class="text-white lead">Get back to shopping</span>
                                    </a>
                                    <a href="" class="btn shop-now-button">
                                        <span class="text-uppercase">Proceed to Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="text-white text-uppercase lead mb-3">No items in shopping cart !</p>
                    <a href="{% url 'products' %}" class="btn btn-lg">
                        <span class="icon">
                            <i class="fa fa-arrow-circle-left text-white"></i>
                        </span>
                        <span class="text-white lead">Get back to shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update item quantity when update link is clicked
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-qty-form');
        form.submit();
    })
    // Delete item when remove link is clicked and reloads the page
    $('.remove-link').click(function(e){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('_remove')[1];
        var url = '/cart/remove/${itemId}';

        $.post(url)
        .done(function(){
            location.reload();
        });
    })
</script>
{% endblock %}