{% if widget.is_initial %}
    <p class="mt-2 ">{{ widget.initial_text }}*:</p>
    <a href="{{ widget.value.url }}">
        <img width="100" height="100" class="rounded mb-3 shadow-sm" src="{{ widget.value.url }}">
    </a>
    <br>
    {{ widget.input_text }}
{% endif %}
<span class="btn white-button btn-file">
    Select Image File <input id="id-new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<strong><p class="text-danger" id="new-image-name"></p></strong>