{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout_css.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container products-header">
        <div class="row">
            <div class="col">
                <h3 class="text-white mt-3">Order Summary</h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col my-3">
                <div class="row">
                    <div class="col-7">
                        <p class="my-2 lead text-white text-underline">Items</p>
                    </div>
                    <div class="col-5 text-right">
                        <p class="my-2 lead text-white text-underline">Subtotal</p>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-9 my-1">
                            <p class=" text-white"> {{ item.product.name }} </p>
                            <p class=" text-white">Quantity: {{ item.quantity }} </p>
                        </div>
                        <div class="col-3 text-right my-1">
                            <p class=" text-white"> €{{ item.product.price | subtotal_calc:item.quantity }} </p>
                        </div>
                    </div>
                {% endfor %}
                <hr>
                <div class="row text-right text-white">
                    <div class="col-7 offset-2">
                        <p class=" text-white"> Order Total: </p>
                        <p class=" text-white"> Delivery Cost: </p>
                        <p class=" text-white lead" > Grand Total: </p>
                    </div>
                    <div class="col-3 ">
                        <p class=" text-white"> €{{ total|floatformat:2 }} </p>
                        <p class=" text-white"> €{{ delivery|floatformat:2 }}</p>
                        <p class=" text-white" > <strong>€{{ grand_total|floatformat:2 }}</strong> </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
                <h3 class="text-white mt-3">Checkout Form</h3>
                <p class="text-sm text-muted text-white"> Please fill out the form below to finish your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="pay-form">
                    {% csrf_token %}
                    <fieldset class="rounded my-1 pd-2">
                        <legend class="fieldset-label text-white ">Personal Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded my-1 pd-2">
                        <legend class="fieldset-label text-white ">Delivery Details</legend>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline">
                            {% if user.is_authenticated %}
                                <label class="form-check-label text-white mr-1" for="id-save-delivery-info"> Save delivery details on your profile</label>
                                <input class="form-check-input" type="checkbox" id="id-save-delivery-info" name="save-details" checked>
                            {% else %}
                                <label class="form-check-label mt-3" for="id-save-delivery-info">
                                    <a class="text-white" href="{% url 'account_signup' %}">Login to save these details</a>
                                </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="rounded mt-4">
                        <legend class="fieldset-label text-white">Card Details</legend>
                        <hr>
                        <div class="mb-2" id="card-element"></div>

                        <!-- Div used to display errors on the form -->
                        <div class="mb-2 text-danger" id="card-errors" role="alert" ></div>
                    </fieldset>
                    <div class="submit-bttn text-right my-3"> 
                        <p class=" text-danger">
                            <span class="icon">
                                <i class="fa fa-exclamation-triangle"></i>
                            </span>
                            <span >Your cart total is<strong> €{{ grand_total | floatformat:2 }} </strong> </span>
                        </p>
                        <button id="submit-form-button" class="btn shop-now-button">
                            <span class="font-weight-bold borderless">Complete payment</span>
                            <span class="icon">
                                <i class="fa fa-credit-card-alt"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>              
        </div>
    </div>
    <div id="loading-payment-overlay">
        <h1 class="loading-spinner-icon">
            <span class="icon">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
