{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h1 class="text-white">{% trans "Sign Out" %}</h1>
<hr>
<p class="text-white">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
   <a class="btn white-button" href="{% url 'home' %}">Home</a>
   <button class="white-button btn ml-2" type="submit">{% trans "Sign Out" %}</button>
</form>


{% endblock %}
