{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="text-white">{% trans "Change Password" %}</h1>
    <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.|crispy }}
        <a class="btn white-button" href="{% url 'home' %}">Home</a>
        <button class="white-button btn ml-2" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
