/* -------------------------------- General and reusable customizations */

html {
    height: 100%;
}

body {
    background: url('/media/xbox.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 170px);
    color: #201f25;
    font-family: 'Poppins', sans-serif;
}

.bg-color-nav{
    background-color:#201f25;
}

hr{
    border-color: white;
}


.logo-font-upper {
    text-transform: uppercase;
}

.text-white {
    color:aliceblue !important;
}

.text-underline {
    text-decoration: underline;
}


.text-black {
    color: black !important;
}

.logo-font-header {
    border-style: solid;
    border-color:white;
    padding: 10px;
    font-size: 40px;
}

.navbar-main{
    width: 100%;
    align-content:center;
}


.main-nav-cont{
    background:rgba(0, 0, 0);
    padding-top:0px !important;
}



/*---------------------------------*/
/* icon class imported from from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
/*---------------------------------*/
/*--------------------------------Home page  */

.home-greeting {
    text-transform: uppercase;
}

.home-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: white;
    color: black;
    width: 260px;
}

/*---------------------------------*/

/* -------------------------------- Creates animation for home 'start shopping' button */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}
/* --------------------------------  */

/* -------------------------------- Creates animation for dropdown links arrow icon */
.dropdown-toggle::after {
   transition: transform 0.20s linear; 
}
 
.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
/* --------------------------------*/

/*--------------------------------Products page  */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #201f25;
    }

.product-price{
    font-weight: bold;
    color:black;
    font-size:25px;
}

.product-info-name{
    font-size:23px;
    font-weight: bold;
}

.form-div{
    margin-bottom: 30px;
    justify-content: center;
}

.sort-select-wrapper{
    justify-content: right;
}

.bottom-btn{
    height: 33px;
    width: 33px;
    position :fixed;
    bottom: 8px;
    right: 5px;
    cursor:pointer;
}

.btt-icon{
    background-color: white;
    color:#201f25;
}

.input-search{
    width: 50%;
    justify-content: center;
}
/*-------------------------------- */

/*--------------------------------Cart page  */

.btn_add_item{
    background: white;
    color: #201f25 !important; /* use important to override link colors for <a> elements */
    border: 1px solid white;
}
.btn_add_item:hover,
.btn_add_item:active,
.btn_add_item:focus {
    background: #201f25;
    color: white !important;
}

.update-link:hover,
.delete-link:hover{
    cursor: pointer;
}

/*-------------------------------- */

/* -------------------------------- Media Queries */

/* fixed top navbar with width higher than 992px */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


/* changes in various elements to be better shown on mobile screens */
@media (max-width: 500px) {
    .home-greeting {
    text-transform: uppercase;
    font-size:30px;
    }   
    .shop-now-button {
    background: white;
    color: black;
    width: 150px;
    }
    .shop-now-button-text {
        font-size:15px;
        padding:3px
    }
    .link-nav-mob{
        margin-left:10px;
        background-color: black; 
    }

    .main-nav-cont{
    background-color: black;
    padding:0px;
    }

}

@media (max-width: 999px){
    .products-header{
        margin-top:75px;
    }
}