<div class="collapse navbar-collapse main-nav-cont" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font-upper font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}" class="dropdown-item">Show All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-upper font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="tv-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TV's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tv-link">
                <a href="{% url 'products' %}?category=tv, sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=tv, sort=price&direction=asc" class="dropdown-item">By Price</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=tv" class="dropdown-item">Show All TV's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-upper font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="console-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles &amp; Gamepads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="console-link">
                <a href="{% url 'products' %}?category=consoles_xbox" class="dropdown-item">XBOX</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=consoles_ps" class="dropdown-item">PS</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=consoles_nintendo" class="dropdown-item">Nintendo</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=gamepads" class="dropdown-item">Gamepads</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=consoles_ps, consoles_xbox,consoles_nintendo, gamepads" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-upper font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle " href="#" id="pc-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PC &amp; Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pc-link">
                <a href="{% url 'products' %}?category=cpu" class="dropdown-item">CPU</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=monitors" class="dropdown-item">Monitors</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=laptops" class="dropdown-item">Laptops</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=laptops, monitors, cpu" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-upper font-weight-bold nav-link text-white link-nav-mob dropdown-toggle" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=mouses" class="dropdown-item">Mouses</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=keypads" class="dropdown-item">Keypads</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=headsets" class="dropdown-item">Headsets</a>
                <div class="dropdown-divider "></div>
                <a href="{% url 'products' %}?category=mouses, keypads, headsets" class="dropdown-item">Show All</a>
            </div>
        </li>
    </ul>
</div>