<div class="collapse navbar-collapse main-nav-cont" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">Show All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="tv-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TV's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tv-link">
                <a href="" class="dropdown-item">By Brand</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Screen Size</a>
                <a href="" class="dropdown-item">Show All TV's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle" href="#" id="console-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles &amp; Gamepads
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="console-link">
                <a href="" class="dropdown-item">XBOX</a>
                <a href="" class="dropdown-item">PS</a>
                <a href="" class="dropdown-item">Nintendo</a>
                <a href="" class="dropdown-item">Gamepads</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 link-nav-mob dropdown-toggle " href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pc
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">CPU</a>
                <a href="" class="dropdown-item">Monitors</a>
                <a href="" class="dropdown-item">Notebooks</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white link-nav-mob dropdown-toggle" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Mouses</a>
                <a href="" class="dropdown-item">Keypads</a>
                <a href="" class="dropdown-item">Headsets</a>
                <a href="" class="dropdown-item">Show All</a>
            </div>
        </li>
    </ul>
</div>