{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block basecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block basejs %}
        <script src="https://kit.fontawesome.com/38cb504d17.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>EletroHOME</title>
  </head>
  <body>
    <header class="container-fluid bg-color-nav fixed-top">
        <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link home-logo-link"><h2 class="logo-font-header my-0 text-white "><strong>EletroHOME</strong></h2></a>
            </div>
            <div class="col-12 col-lg-8 my-auto ">
                <ul class="list-inline list-unstyled text-center text-lg-right">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link text-right" href="#" id="user_opt" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg3 text-white"></i></div>
                                <p class="text-white">My Profile</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria="user_opt">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item ">Products Management</a>
                                {% endif %}
                                <a href="" class="dropdown-item">Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item "> Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register Account</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item"> Login</a>
                            {% endif %}
                        </div>    
                    </li>
                    <li class="list-inline-item">
                        <a href ="{% url 'view_cart' %}" class="{% if grand_total %} text-info font-weight-bold{% else %}{% endif %} nav-link text-right">
                            <div class="text-center">
                                <div><i class="fa fa-shopping-cart fa-lg text-white"></i></div>
                                <p class="my-0 text-white">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        € 0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-black">
            <nav class="navbar navbar-expand-lg navbar-dark navbar-main">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon white"></span>
                </button>
                {% include 'includes/mob-header.html' %}
                {% include 'includes/main-navbar.html' %}
            </nav>
        </div>
    </header>
    
    {% if messages %}
        <div class="messages-container"></div>
    {% endif %}
    
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
<!--This code makes it so that the dropdown items are displayes when the mouse is hovered on top of it-->
<!--Code was found on tutorials found at https://webdesign.tutsplus.com-->
    <script type="text/javascript">
        const $dropdown = $(".dropdown");
        const $dropdownToggle = $(".dropdown-toggle");
        const $dropdownMenu = $(".dropdown-menu");
        const showClass = "show";
        
        $(window).on("load resize", function() {
            // Makes so that the hover function is only applied on screen with width that are bigger then 768px
        if (this.matchMedia("(min-width: 768px)").matches) {
            $dropdown.hover(
            function() {
                const $this = $(this);
                // Makes so that everytime the menu is hovered, it receives a Bootstrap "show" Class, displaying the links inside the menu
                $this.addClass(showClass);
                $this.find($dropdownToggle).attr("aria-expanded", "true");
                $this.find($dropdownMenu).addClass(showClass);
            },
            function() {
                const $this = $(this);
                $this.removeClass(showClass);
                $this.find($dropdownToggle).attr("aria-expanded", "false");
                $this.find($dropdownMenu).removeClass(showClass);
            }
            );
        } else {
            $dropdown.off("mouseenter mouseleave");
        }
        });
    </script>
  </body>
</html>