/* -------------------------------- Checkout page form */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  color:black;
  background-color: white;
}

.StripeElement--webkit-autofill {
  background-color:#201f25  !important;
}

.stripe-style-input::placeholder {
    color: #201f25;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #201f25;
    border: 1px solid #201f25;
}

/* -------------------------------- Checkout page icon spinner page */

#loading-payment-overlay{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgb(247, 247, 247, .90);
    z-index: 999;
}

.loading-spinner-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* -------------------------------- Checkout success page */

